.survey-details {

}

//.bottomright {
//  position: absolute;
//  bottom: 8px;
//  right: 16px;
//
//}
//
//.bottomleft {
//  position: absolute;
//  bottom: 8px;
//  left: 16px;
//
//}

//.vcenter {
//  margin-top: 25%;
//}

.circle-text {
  width:50%;
}
.circle-text:after {
  content: "";
  display: block;
  width: 100%;
  height:0;
  padding-bottom: 100%;
  background: #4679BD;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.circle-text div {
  float:left;
  width:100%;
  padding-top:50%;
  line-height:1em;
  margin-top:-0.5em;
  text-align:center;
  color:white;
}
