// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/page1/page1";

@import "../pages/page2/page2";

@import "../pages/loginPage/login.page";

@import "../pages/survey-details/survey-details";

/************** Fonts *****************/

@font-face {
  font-family: 'VodafoneRg-Regular';
  src: url('../fonts/VodafoneRg-Regular.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/VodafoneRg-Regular.woff') format('woff'), 
  url('../fonts/VodafoneRg-Regular.ttf')  format('truetype'), 
  url('../fonts/VodafoneRg-Regular.svg#VodafoneRg-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: 'VodafoneRg-Regular';
}

.sidemenu-toolbar {
  min-height: 90px;
  .logo {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-image: url('../img/logo.png');
    background-size: cover;
    width: 100px;
    height: 100px;
  }
}



